<h1>まとめて登録</h1>
<%= form_with url: mypage_user_path, method: :patch do |f| %>
  <%= f.hidden_field 'sessions[]', value: -1 %>
  <table class="table table-sm table-striped">
    <thead><tr><th>&nbsp;</th>
        <th width="260px">日時</th>
        <th>タイトル</th></tr></thead>

    <tbody>
      <% @slots.each{|s| %>
        <% next if s.description == nil %>
        <tr>
          <th scope="row">
            <%= f.check_box 'sessions[]', {checked: current_user.slots.include?(s)}, s.id, nil %>
          </th>
          <td><%= s.pdatetime %></td>
          <td><%= link_to s.title, slot_path(s) %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <%= f.submit "登録する", class: "btn btn-primary" %>
<% end %>


