<h1><%= @user.fullname %>のマイページ</h1>
<% if @conference != nil %>
  <p>参加予定のイベント:
  <%= link_to @conference.name, conference_path(@conference) %>
  </p>

  <p>参加予定のセッション:
  <ul>
    <% @participations&.each {|p| s = p.slot %>
    <li><%= s.pdatetime %>
    <%= link_to s.title, slot_path(s) %></li>
  <% } %>
  </ul>
  </p>

  <p>参加予定のイベントを変更する
  <%= form_with model: [:mypage, @user] do |f| %>
    <%= f.hidden_field :conference, value: nil %>
    <%= f.submit 'イベントを変更', class: 'btn btn-primary' %>
  <% end %>
  </p>

  <p>参加予定のセッションをまとめて登録（変更）する
    <p>
      <%= link_to 'セッションを登録（変更）', edit_mypage_user_path(@user), class: 'btn btn-primary' %>
    </p>
  </p>

<% else %>
  <p>
  <%= form_with model: [:mypage, @user] do |f| %>
    <%= f.label '参加予定のイベント: ' %>
    <%= f.select :conference, @conferences, {include_blank: 'イベント選択'}, class: 'form-control' %>
    <%= f.submit '登録', class: 'btn btn-primary' %>
  <% end %>
  </p>


<% end %>


