<nav area-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to 'Top', root_path %></li>
    <li class="breadcrumb-item">Conference</li>
  </ol>
</nav>
<h1><%= @conference.name %></h1>
<ul>
  <% @conference.days&.each { |d| %>

    <li><%= d.pdate %>
    : <%= link_to d.title, day_path(d) %>

  <ul>

    <% d.tracks&.each { |t| %>
      <li><%= t.title %>
      <table>
        <% t.slots&.order(:start_time).each{ |s| %>
          <tr valign="top">
            <td width="120px">
              <%= s.start_time.strftime("%H:%M") %> -
              <%= s.end_time.strftime("%H:%M") %>
            </td>

            <td>
              <% if s.description != nil %>
                <%= link_to s.title, slot_path(s) %>
                <% if current_user&.slots&.include?(s) %>
                  <span class="text-danger">[登録済]</span><% end %>
            <% else %>
              <%= s.title %>
            <% end %>
            </td>

          </tr>

        <% } %>
      </table>
      </li>
    <% } %>

  </ul>

    </li>

  <% } %>

</ul>

