<nav area-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to 'Top', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Conference', conference_path(@day.conference) %></li>
    <li class="breadcrumb-item">Day</li>
  </ol>
</nav>

<h1><%= @day.title %>(<%= @day.pdate %>)</h1>
<ul>
  <% @day.tracks.each { |t| %>

    <li><%= t.title %>
    <ul>
      <% t.slots&.order(:start_time).each { |s| %>
        <li><%= s.start_time.strftime("%H:%M") %> -
          <%= s.end_time.strftime("%H:%M") %>

          <% if s.description == nil %>
            <%= s.title %><p></p>

          <% else %>
            <%= link_to s.title, slot_path(s) %>
            
            <% if current_user&.slots&.include?(s) %>
              <span class="text-danger">[登録済]</span><% end %></br>
            
            <% if s.lecturer != nil %>
              発表者: <%= s.lecturer %>
          <% end %>

          <p><%= simple_format(s.description) %></p>

        <% end %>

        </li>
      <% } %>
    </ul>

    </li>

  <% } %>

</ul>

